{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Registro arbol</title>
        <link rel="stylesheet" href="{% static 'treecontrol1/css/register_tree_general.css' %}">
        <link rel="stylesheet" href="{% static 'treecontrol1/css/register_tree_header.css %}">
        <link rel="stylesheet" href="{% static 'treecontrol1/css/register_tree_photos.css' %}">
        <link rel="stylesheet" href="{% static 'treecontrol1/css/register_tree_form.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <img src="{% static 'treecontrol1/images/logo-circulo-blanco.png' %}">
            </div>

            <div class="buttons">
                <a class="home" >Menu</a>
                <a class="index" href="% url 'treecontrol1:tree-index' %">Arboles</a>
                <a class="register" href="% url 'treecontrol1:register-tree' %">Registrar arbol</a>
            </div>
        </div>
        

        <form class="tree-registration" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_formset.management_form }}

            <div class="photos">
                {{ pformset.management_form }}
                <p>Subir hasta 4 fotos del arbol</p>
                <div class="foto_principal">
                    <label for="foto_principal">
                        {{ pformset.forms.0.image }}
                        <img class="" src="{% static 'treecontrol1/images/camera.jpg' %}" alt="Foto1">
                    </label>
                </div>
                
                <div class="fotos_secundarias">
                    <label for="foto_secundaria1">
                        {{ pformset.forms.1.image }}
                        <img class="" src="{% static 'treecontrol1/images/camera.jpg' %}" alt="Foto1">
                    </label>
                    
                    <label for="foto_secundaria2">
                        {{ pformset.forms.2.image }}
                        <img class="" src="{% static 'treecontrol1/images/camera.jpg' %}" alt="Foto2">
                    </label>

                    <label for="foto_secundaria3">
                        {{ pformset.forms.3.image }}
                        <img class="" src="{% static 'treecontrol1/images/camera.jpg' %}" alt="Foto3">
                    </label>
                    
                </div>
            </div>

            
            
            
            
            <div class="form">
                {% csrf_token %}
                {% if form.instance.pk %}
                    <p><strong>Editando arbol: #{{form.instance.pk}}</strong_></p>
                    <p>-----------------------</p>
                {% endif %}
                
                <div class="species_form">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <p><strong>Error al registrar:</strong></p>
                        <ul>
                        {# Field‐specific errors #}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}

                        {# Non‐field errors (e.g. clean()‐level) #}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if success %}
                    <div class="alert alert-success">
                        
                        <p><strong>Arbol registrado correctamente</strong></p>
                    </div>
                    {% endif %}

                    <p>Especie</p>
                    {{form.species}}
                    
                    {% if form.non_field_errors %}
                        <p class="error">{{ form.non_field_errors }}</p>
                    {% endif %}
                    
                    {{form.species_selection}}
                    
                    {% if form.species.errors %}
                        <p class="error">{{ form.species.errors }}</p>
                    {% endif %}
                </div>
                
                
                <p>Dirección mas cercana</p>
                <div class="directions_form">
                    <div class="d1">
                        
                        {{form.alcaldia}}

                        {% if form.alcaldia.errors %}
                            <p class="error">{{ form.alcaldia.errors }}</p>
                        {% endif %}

                        {{form.colonia}}

                        {% if form.colonia.errors %}
                            <p class="error">{{ form.colonia.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="d2">
                        {{form.calle}}
                        {% if form.calle.errors %}
                            <p class="error">{{ form.calle.errors }}</p>
                        {% endif %}
                        
                        {{form.num}}

                        {% if form.num.errors %}
                            <p class="error">{{ form.num.errors }}</p>
                        {% endif %}
                        
                        {{form.cp}}
                        {% if form.cp.errors %}
                            <p class="error">{{ form.cp.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="d3">
                        {{form.reference}}

                        {% if form.reference.errors %}
                            <p class="error">{{ form.reference.errors }}</p>
                        {% endif %}
                        
                        {{form.latitude}}

                        {% if form.latitude.errors %}
                            <p class="error">{{ form.latitude.errors }}</p>
                        {% endif %}
                        
                        {{form.longitude}}

                        {% if form.longitude.errors %}
                            <p class="error">{{ form.longitude.errors }}</p>
                        {% endif %}   
                    </div>

                </div>
                
                <p>Dimensiones</p>
                <div class="dimensions_form">
                    {{form.height}}
                    {% if form.height.errors %}
                        <p class="error">{{ form.height.errors }}</p>
                    {% endif %}

                    {{form.base_diameter}}
                    {% if form.base_diameter.errors %}
                        <p class="error">{{ form.base_diameter.errors }}</p>
                    {% endif %}

                    {{form.crown_diameter}}
                    {% if form.crown_diameter.errors %}
                        <p class="error">{{ form.crown_diameter.errors }}</p>
                    {% endif %}

                    {{form.trunk_diameter}}
                    {% if form.trunk_diameter.errors %}
                        <p class="error">{{ form.trunk_diameter.errors }}</p>
                    {% endif %}

                    {{form.trunk_inclination}}
                    {% if form.trunk_inclination.errors %}
                        <p class="error">{{ form.trunk_inclination.errors }}</p>
                    {% endif %}

                {{form.structure}}

                    {% if form.structure.errors %}
                        <p class="error">{{ form.structure.errors }}</p>
                    {% endif %}

                </div>

                <p>Salud</p>
                <div class="health_form">
                    {{form.health_status}}
                    {% if form.health_status.errors %}
                        <p class="error">{{ form.health_status.errors }}</p>
                    {% endif %}

                </div>

                <p>Acciones necesarias (opcional)</p>
                <div class="actions_form">
                     <div class="actions_form">
                        {{ aform.action_description }}
                        {% if aform.action_description.errors %}
                            <p class="error">{{ aform.action_description.errors }}</p>
                        {% endif %}

                            
                        {{ aform.urgency }}
                        {% if aform.urgency.errors %}
                            <p class="error">{{ form.urgency.errors }}</p>
                        {% endif %}
                        
                        {{ aform.cause_description }}
                        {% if aform.cause_description.errors %}
                            <p class="error">{{ aform.cause_description.errors }}</p>
                        {% endif %}
                        
                                
                        
                    </div>
                </div>

                <div>
                    <p>Ultima inspeccion</p>
                    {{form.last_inspection}}
                    {% if form.last_inspection.errors %}
                        <p class="error">{{ form.last_inspection.errors }}</p>
                    {% endif %}
                </div>

                <div class="submit">
                    <button class="submit_button" type="submit">Registrar</button>
                </div>

            </div> 
        </form>     
    
    </body>

</html>