<!DOCTYPE html>

<html>
    
    <head>
        <title>tree box</title>
        <link rel="stylesheet" href="tree_box.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    
    <body>
      <div class="tree_box">
        
        <div class="pfp_box">
            <img class="pfp_img" src="../../imgs/jacaranda.webp" alt="tree image">
        </div>
        
        <div class="tree_info">
            <div class="column1">
                <p class="tree_id">#ID:</p>
                <p class="tree_species">Especie:</p>
                <p class="direccion">Direccion:</p>
            </div>

            <div class="column2">
                <p class="status">Status:</p>
            </div>
            
        </div>
        
        <div class="tree_buttons">
            <a class="edit_btn">e</a>
            <a class="delete_btn">-</a>
        </div>
      
    </div>

    </body>

</html>